body {
    margin: 0;
    padding: 0;
}

h1,h2{
    margin: 0;
}

figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}