
header{
    background-color: pink;
    display: block;
    width: 100vw;
    height: 100px;
}

h1{
    padding: 20px 20px;
    font-size: 220%;
}
nav ul {
    list-style-type: none ;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    
}

li {
    display: inline-block;
    padding: 0 20px;
}

footer {
    background-color: darkgrey;
    text-align: center;
    width: 100%;
    display: block;
    top: 500px;
    padding: 20px;
}

footer ul {
    text-align: center;
    padding: 10px;
    margin: 0;
}