/**** Primary page styles ****/
/* global to make everything cohesive*/
*{
 box-sizing: border-box;
 font-family: monospace;
 font-size: 105%;
 background-color: #F5F2EB;
}

/* 70% makes the text feel nice in the screen */
p{
    margin: 0;
    padding: 0;
    line-height: 150%;
    color: black;
    opacity: 70%;
}

a{
    text-decoration: none;
    color: darkolivegreen;
    font-weight: 600;
}

/**** Header and Nav bar ****/
/* added background so I can make this sticky */
header{
    background: rgb(245,242,235);
    background: linear-gradient(180deg, rgba(245,242,235,1) 87%, rgba(245,242,235,0) 100%);
    width: 100vw;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 2;
}

h1{
    padding: 20px 20px;
    font-size: 220%;
    color: black;
    opacity: 50%;
    width: 100vw;
}

nav ul {
    list-style-type: none ;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    
}

li {
    display: inline-block;
    padding: 0 20px;
}

/**** Main Styles including portfolios ****/

main>section {
/* border: 1px solid black; */
height: fit-content; 
display: flex;
justify-content: space-between;
width: 100%;
min-height: 100px;   
margin: 50px 0;
}

.felipe-image{
    display: flex;
    justify-content: center;
}

.felipe-image img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

main aside {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 20px;
    padding-top: 20px;
    border-right: 4px solid black;
    font-size: 25px;
    font-family: monospace;
    opacity: 50%;
}

.content {
    width: 66.4%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 18vw;
    
}

.box-container{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 0;
}

card{
    border-radius: 50px 50px 0 0;
    flex: 1 0 30%;
    height: 150px;
    max-width: 30%;
    margin: 10px 10px;
    overflow: hidden;
}

.feature{
    height: 350px;
    flex: 1 0 95%;
    max-width: 95%;
}

#portfolio img{
    width: 100%;
    height: 85%;
    filter: grayscale(100%);
}

figcaption{
    position: relative;
    width: 100%;
    text-align: center;
}

#portfolio img:hover{
    width: 100%;
    min-height: 100%;
    filter: grayscale(10%);
}


/**** Footer ****/

footer {
    background-color: darkgrey;
    text-align: center;
    width: 100%;
    margin: 20px;
}

footer ul {
    text-align: center;
    padding: 10px;
    margin: 0;
}

footer ul li a{
    font-weight: 400;
}

/* Tablet size responsive */
@media screen and (max-width: 1200px) {
    header{
        height: 150px;
    }
    
    nav ul {
        top: 40px;
    }

    card{
        flex: 1 0 45%;
        height: 150px;
        max-width: 45%;
    }
}

@media screen and (max-width:720px) {
    card{
        flex: 1 0 95%;
        max-width: 95%;
    }
    nav ul {
        top: 40px;
    }
    li {
        padding: 0 10px;
    }
    main>section{
        flex-direction: column;
        align-items: center;
    }
    main aside{
        border-right: 0;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .content{
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    header{
        height: 200px;
    }
    h1{
        width: 30vw;
    }
    ul{
        margin:5px;
    }
    nav ul {
        top: 0px;
        right: 0px;
        padding: 0;
    }
    li {
        display: block;
        padding: 10px 0;
    }
}